@model Post
@{
    ViewData["Title"] = "Create Post";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" class="w-50">
    <div>
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="Body" class="form-label"></label>
        <textarea asp-for="Body" rows="5" class="form-control"></textarea>
    </div>
    <div>
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" type="text" class="form-control"/>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>