@model List<Post>
@{
    ViewData["Title"] = "Posts";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
    </tr>
    @foreach (var post in Model)
    {
        <tr>
            <td>post.Id</td>
            <td>post.Title</td>
            <td>post.Body</td>
            <td>post.Author</td>
        </tr>
    }
</table>